# Esse conteúdo é um arquivo .editorconfig. 
# Ele define regras de formatação para que diferentes editores mantenham um padrão consistente no projeto.

# Indica que este é o arquivo raiz do EditorConfig. Editores não devem procurar outro .editorconfig em pastas superiores.
root = true

# Aplica as regras seguintes a todos os arquivos do projeto.
[*]
# usa codificação UTF-8, permitindo acentos corretamente.
charset = utf-8
# Estilo de indentação é com espaços
indent_style = space
# Tamanho da indentação é de 4 espaços
indent_size = 4